
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans&family=Oswald:wght@500&display=swap');

*
{
  margin: 0;
  padding: 0;
}

body
{
  line-height: 1.3;
}

*, ::after, ::before
{
  box-sizing:none;
}

p
{
  margin-bottom: 0;
  margin-top: 5px;
}

/*------------------------------------------------INICIO--------------------------------------------------------*/
h1
{
  background-image: url(../Resources/Imagenes/Otros/JJK\ BANNER.jpg);
  padding-bottom: 70px;
  background-position: center;
  margin-bottom: 0;
  -webkit-text-stroke: 1px black;
  width: 100%;
}

.fuenteTitulo
{
  font-family:"Kaushan Script", sans-serif;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  padding-top: 50px;
  text-shadow: 2px 1px 4px rgb(0, 0, 0);
  display: block;
  color: #E78D1E;
}

.fuenteLista
{
  font-family:"Oswald", sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-align: start;
  text-transform: uppercase;
}

nav
{
  background-color: #e78d1e;
}

dl, ol, ul 
{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

nav ul li
{
  display: inline-flex;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 60px;
}

nav ul li a
{
  text-decoration: none;
  color: #fff;
  margin-top: 4px;
}

nav ul li a:hover
{
 color: black;
}

nav ul li .search
{
  width: 400px;
  position: relative;
  bottom: 3px;
}

.search input
{
  margin-left: 390px;
}

.activo
{
  color: #000;
}

#formularioTitulo
{
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-left: 8px;
}

#novedadesManga
{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-left: 238px;
  margin-top: 70px;
}

#novedadesComics
{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-left: 238px;
  margin-top: 50px;
}

footer div
{
  background-color: #E78D1E;
  display: inline-flex;
  width: 100%;
}

footer p
{
  font-family: "Oswald",sans-serif;
  font-size: 20px;
  font-weight: 500px;
  margin-left: 6px;
  color: #fff;
  text-shadow: 2px 2px 0px #000;
  margin: 15px 130px 100px 230px;
}

/*------------------------------------------CATALOGO------------------------------------------------*/

.portadasMangaCatalogo
{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing:content-box;
  margin-bottom: 140px;
  margin-top: 20px;
}

.portadasMangaCatalogo div .precio
{
  font-size: 20px;
  text-align: center;
}

.portadasMangaCatalogo div
{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 90px;
}

.portadasMangaCatalogo div p
{
  font-family: "Noto Sans",sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0;
}

.portadasMangaCatalogo div img
{
  width: 300px;
  height: 420px;
  border: 3px solid #000;
  box-sizing:content-box;
}

/*----------------------------------Filtro Catalogo---------------------------------------*/

.filtro
{
  position: absolute;
  top: 340px;
  background-color: #fff;
  margin-left: 35px;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  margin-top: -30px;
}

.filtro ul
{
  list-style-type:none;
}

.filtro ul li
{
  margin-bottom: 18px;
  margin-top: 15px;
  text-align: start;
}

.filtro ul li a
{
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.filtro ul li a:hover
{
  color: #E78D1E;
}

.filtro h2
{
  font-family: "Oswald",sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #E78D1E;
  text-align: center;
}
/*----------------------------------PREVENTA---------------------------------------*/
#mainPreventa
{
  display: inline;
}

#tituloPreventa
{
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-top: 45px;
}

.portadasPreventa
{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 120px;
}

.portadasPreventa div .precio
{
  display: inline;
  font-size: 20px;
  text-align: center;
  text-decoration: line-through;
  margin-right: 10px;
}

.portadasPreventa .contPrecios
{
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.portadasPreventa div
{
  margin: 45px 40px 20px 40px ;
}

.portadasPreventa div .precioPreventa
{
  display: inline-block;
  font-size: 20px;
}

.portadasPreventa div p
{
  font-family: "Noto Sans",sans-serif;
  font-size: 16px;
  text-align: center;
}

.portadasPreventa div img
{
  width: 300px;
  height: 440px;
  border: 3px solid #000;
  box-sizing:content-box;
}

/*--------------------------------------Formulario Contacto--------------------------------------*/

.formulario
{
  width: 780px;
  margin-left: 8px;
}

.form-floating .mensaje
{
  height:150px;
  resize: none;
}

/*---------------------------------------------MAPA----------------------------------------------*/

.mapa
{
  position: relative;
  top: 20px;
  left: 10px;
  border: 3px solid #000 ;
  width: 785px;
  height: 400px;
  margin-bottom: 200px;
}

.mapa iframe
{
  width: 778px;
  height: 393px;
}

/*----------------------------------------Carrousel---------------------------------------------*/

.btnCompra
{
  display: inline;
  position: absolute;
  top: 580px;
  right: 541px;
  width: 115px;
  height: 50px;
  font-size: 22px;
  font-family: "Noto Sans",sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: black;
  border: 2px solid #fff;
  padding: 6px 6px 8px 6px;
  border-radius: 6px;
}

.btnCompra:hover
{
  background-color: #e78d1e;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.carrousel
{
  border: 3px solid black;
  width: 1200px;
  height: 675px;
  margin-top: 30px;
}

.carousel-item img
{
  width: 1200px;
  height: 675px;
}

/*-------------------------------------------Grid Inicio-------------------------------------------------*/

#grid
{
  display: grid;
  background-color: white;
  width: 100%;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-areas:  "imgInicio imgInicio imgInicio imgInicio"
                        "novedadesManga  .  .  ."
                        "portadasManga portadasManga portadasManga portadasManga"
                        "novedadesComics .  .  ."
                        "portadasComics portadasComics portadasComics portadasComics";
}

.imgInicio
{
  grid-area: imgInicio;
  display: inline-flex;
  justify-content: center;
}

#novedadesManga
{
  grid-area: novedadesManga;
}

#novedadesComics
{
  grid-area: novedadesComics;
}

.portadasManga
{
  grid-area: portadasManga;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 30px;
}

.portadasManga div
{
  margin-right: 50px;
  margin-top: 35px;
  margin-left: 20px;
}

.portadasManga div .precio
{
  font-size: 20px;
  text-align: center;
}

.portadasManga div p
{
  font-family: "Noto Sans",sans-serif;
  font-size: 16px;
  text-align: center;
}

.portadasComics
{
  grid-area: portadasComics;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 100px;
}

.portadasComics div
{
  margin-right: 50px;
  margin-top: 35px;
  margin-left: 20px;
}

.portadasManga div img
{
  width: 300px;
  height: 440px;
  border: 3px solid #000;
}

.portadasComics div .precio
{
  font-size: 20px;
  text-align: center;
}

.portadasComics div p
{
  font-family: "Noto Sans",sans-serif;
  font-size: 16px;
  text-align: center;
}

.portadasComics div img
{
  width: 300px;
  height: 440px;
  border: 3px solid #000;
}

/*-------------------------------------------Grid MERCH------------------------------------------------------*/
#gridMerch
{
  display: grid;
  background-color: white;
  grid-template-columns: repeat(6,280px);
  grid-template-areas:"merch1 merch2 merch3 merch4 merch5 merch6"
                      "merch7 merch8 merch9 merch10 merch11 merch12";
  justify-content: end;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 120px;
}

.merch1{grid-area: merch1; justify-self: center;}
.merch2{grid-area: merch2; justify-self: center;}
.merch3{grid-area: merch3; justify-self: center;}
.merch4{grid-area: merch4; justify-self: center;}
.merch5{grid-area: merch5; justify-self: center;}
.merch6{grid-area: merch6; justify-self: center;}
.merch7{grid-area: merch7; justify-self: center;}
.merch8{grid-area: merch8; justify-self: center;}
.merch9{grid-area: merch9; justify-self: center;}
.merch10{grid-area: merch10; justify-self: center;}
.merch11{grid-area: merch11; justify-self: center;}
.merch12{grid-area: merch12; justify-self: center;}

.merch
{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  margin-top: 85px;
  margin-bottom: 30px;
}

.merch .precio
{
  font-size: 20px;
  text-align: center;
}

.merch p
{
  font-family: "Noto Sans",sans-serif;
  font-size: 16px;
  text-align: center;
}

.merch img
{
  width: 200px;
  height: 240px;
  border: 2px solid black;
}

/*-----------------------------------------Media Queries----------------------------------------------*/

@media all and (max-width: 1024px)
{
  /*---------Nav---------*/
  .fuenteTitulo
  {
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

   .fuenteLista
  {
    font-size: 18px;
  }

   nav ul li
  {
    margin-right: 10px;
    margin-left: 10px;
  }

  nav ul li .search
  {
    width: 300px;
    bottom: 0px;
    right: 20px;
  }

  .search input
  {
    margin-left: 60px;
  }

  /*-------------Carrusel-------------*/

  .btnCompra
  {
    top: 590px;
    right: 455px;
    width: 110px;
    height: 45px;
  }

  .carrousel
  {
    border: 2px 0px 2px 0px solid black;
    width: 1024px;
  }

  .carousel-item img
  {
    width: 1024px;
  }

  /*-------------INICIO--------------*/

  #novedadesManga
  {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-left: 0px;
  }

  #novedadesComics
  {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-left: 0px;
    margin-top: 50px;
  }

  .portadasManga
  {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0px;
  }

  .portadasManga img
  {
    width: 190px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .portadasComics
  {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0px;
  }

  .portadasComics img
  {
    width: 190px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
  }

  #grid
  {
    grid-template-areas:  "imgInicio imgInicio imgInicio imgInicio"
                          "novedadesManga novedadesManga novedadesManga novedadesManga"
                          "portadasManga portadasManga portadasManga portadasManga"
                          "novedadesComics novedadesComics novedadesComics  novedadesComics"
                          "portadasComics portadasComics portadasComics portadasComics";
  }

  /*----------Catalogo----------*/

  .portadasMangaCatalogo
  {
    margin-left: 40px;
    margin-top: 15px;
  }

  .portadasMangaCatalogo img
  {
    width: 180px;
    height: 280px;
    border: 2px solid #000;
  }

  .filtro
  {
    top: 320px;
    margin-left: 0px;
  }

  .filtro ul li a
  {
    font-size: 20px;
  }

  .filtro ul li
  {
    list-style-type:none;
    margin-bottom: 14px;
  }

  .filtro ul
  {
    margin-left: 0px ;
  }

  /*----------Merchandising------------*/

  #gridMerch
  {
    grid-template-columns: repeat(3, 250px);
    grid-template-areas:"merch1 merch2 merch3"
                        "merch4 merch5 merch6"
                        "merch7 merch8 merch9"
                        "merch10 merch11 merch12";
    margin-top: 50px;
    margin-right: 100px;
  }

  /*--------------Proximos Lanzamientos----------------*/

  #tituloPreventa
  {
    font-size: 30px;
  }

  /*----------------------Contacto--------------------------*/

  #formularioTitulo
  {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mapa
  {
    top: 40px;
    left: 10px;
    width: 505px;
    height: 320px;
    margin-top: 20px;
  }

  .mapa iframe
  {
    width: 498px;
    height: 314px;
    border: 3px solid #000 ;
  }

  .formulario
  {
    width: 500px;
    margin-left: 8px;
  }

  .form-floating .mensaje
  {
    height:150px;
    resize: none;
  }

  /*-----------------------footer-----------------------*/

  footer p
  {
    font-size: 16px;
    margin: 15px 200px 100px 30px;
  }

}

@media screen and (max-width: 500px)
{
  /*---------Nav---------*/
  .fuenteTitulo
  {
    font-size: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .fuenteLista
  {
    font-size: 12px;
    font-weight: 500;
  }

  nav ul
  {
    margin-left: 45px;
  }
  nav ul li
  {
    margin-right: 0px;  
  }

  nav ul li a
  {
    margin: 1px;
  }

  nav ul li .search
  {
    width: 200px;
    bottom: 3px;
  }

  .search input
  {
    margin-left: 120px;
    height: 30px;
  }
   /*-----------Carrusel-----------*/

   .btnCompra
  {
    display: inline;
    position: absolute;
    top: 310px;
    right: 204px;
    width: 90px;
    height: 40px;
    font-size: 16px;
  }

  .carrousel
  {
    border: 2px 0px 2px 0px solid black;
    width: 500px;
    height: 390px;
  }

  .carousel-item img
  {
    width: 500px;
    height: 390px;
  }

  /*----------INICIO-----------*/

  #novedadesManga
  {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-left: 0px;
  }

  #novedadesComics
  {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-left: 0px;
    margin-top: 50px;
  }

  .portadasManga div
  {
   margin: 0px 0px 0px 0px;
  }

  .portadasManga img
  {
    width: 150px;
    height: 240px;
    border: 2px solid #000;
    margin-bottom: 0px;
    margin-top: 45px;
    margin-left: 0px;
  }

  .portadasComics div
  {
   margin: 0px 0px 0px 0px;
  }

  .portadasComics img
  {
    width: 150px;
    height: 240px;
    border: 2px solid #000;
    margin-bottom: 0px;
    margin-top: 45px;
    margin-left: 0px;
  }

  #grid
  {
    grid-template-areas:  "imgInicio imgInicio imgInicio imgInicio"
                          "novedadesManga novedadesManga novedadesManga novedadesManga"
                          "portadasManga portadasManga portadasManga portadasManga"
                          "novedadesComics novedadesComics novedadesComics  novedadesComics"
                          "portadasComics portadasComics portadasComics portadasComics";
  }

  /*----------Catalogo----------*/

  .portadasMangaCatalogo
  {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-top: 5px;
  }

  .portadasMangaCatalogo div
  {
    margin-top: 35px;
  }

  .portadasMangaCatalogo div img
  {
    width: 180px;
    height: 250px;
    border: 2px solid #000;
  }

  .filtro
  {
    position: absolute;
    top: 270px;
  }

  .filtro h2
  {
    font-size: 24px;
  }

  .filtro ul li a
  {
    font-size: 14px;
  }

  .filtro ul
  {
    margin-left: 10px ;
  }

  /*----------Merchandising------------*/

  #gridMerch
  {
    grid-template-columns: repeat(2, 180px);
    grid-template-areas:"merch1 merch2"
                        "merch3 merch4"
                        "merch5 merch6"
                        "merch7 merch8"
                        "merch9 merch10"
                        "merch11 merch12";
    justify-content: end;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .merch
  {
    margin-top: 45px;
  }
  .merch img
  {
    width: 170px;
    height: 200px;

    align-items: center;
  }

  /*--------------Proximos Lanzamientos----------------*/

  #tituloPreventa
  {
    font-size: 24px;
  }   

  #nombreLargo
  {
    margin-left: 12px;
  }

  #nombreLargo2
  {
    margin-left: 58px;
  }
  
  .portadasPreventa
  {
    justify-content: center;
  }

  .portadasPreventa div
  {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .portadasPreventa div img
  {
    width: 180px;
    height: 250px;
    border: 2px solid #000;
  }

  /*---------------------Contacto--------------------------*/

  .mapa
  {
    position: relative;
    top: 40px;
    left: 10px;
    width: 445px;
    height: 320px;
    margin-top: 20px;
  }

  .mapa iframe
  {
    width: 439px;
    height: 320px;
    border: 3px solid #000 ;
  }

  .formulario
  {
    width: 445px;

    margin-left: 8px;
  }

  .form-floating .mensaje
  {
    height:150px;
    resize: none;
  }

  /*---------------------Footer---------------------------*/
  
  footer p
  {
    font-size: 20px;
    margin: 15px 30px 100px 30px;
  }

}