main
{
    section
    {
        .filtro
        {
            position: absolute;
            top: 340px;
            background-color: #fff;
            margin-left: 35px;
            border-radius: 2px;
            padding: 5px 10px 5px 10px;
            margin-top: -30px;

            h2
            {
                font-family: "Oswald",sans-serif;
                font-weight: 500;
                font-size: 28px;
                color: #E78D1E;
                text-align: center;
            }

            ul
            {
                list-style-type:none;

                li
                {
                    margin-bottom: 18px;
                    margin-top: 15px;
                    text-align: start;
                
                    a
                    {
                        font-family: "Oswald", sans-serif;
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                        &:hover{ color: #E78D1E;}
                    }
                }
            }      
        }
        
        @media all and (max-width: 1024px)
        {
                .filtro
                {
                    top: 320px;
                    margin-left: 0px;

                    ul
                    {
                        margin-left: 0px ;

                        li
                        {
                            list-style-type:none;
                            margin-bottom: 14px;

                            a
                            {
                                font-size: 20px;
                            }
                        }
                    }
                }
        }

        @media screen and (max-width: 500px)
        {
            .filtro
            {
                position: absolute;
                top: 270px;

                h2
                {
                    font-size: 24px;
                }

                ul
                {
                    margin-left: 10px ;
                    li a
                    {
                        font-size: 14px;
                    }
                }                
            }
        }        
    }   
    
    .portadasMangaCatalogo
    {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing:content-box;
        margin-bottom: 140px;
        margin-top: 20px;

        div
        {
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 90px;

            img
            {
                @include sizes(420px,300px);
                border: 3px solid #000;
                box-sizing:content-box;
            }
            
            p
            {
                font-family: "Noto Sans",sans-serif;
                font-size: 16px;
                text-align: center;
                margin-bottom: 0;
            }

            .precio
            {
                font-size: 20px;
                text-align: center;
            }
            
        } 

    } 

        @media all and (max-width: 1024px)
        {
            .portadasMangaCatalogo
            {
                margin-left: 40px;
                margin-top: 55px;

                img
                {
                    width: 180px;
                    height: 280px;
                    border: 2px solid #000;
                }
            }
        }  

        @media screen and (max-width: 500px)
        {
            .portadasMangaCatalogo
            {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-left: 40px;
                margin-right: 0px;
                margin-bottom: 35px;
                margin-top: 5px;
            
                div
                {
                    margin-top: 55px;

                    img
                    {
                        width: 180px;
                        height: 250px;
                        border: 2px solid #000;
                    }
                }
            }
        }

}