main
{
    #formularioTitulo
    {
        font-family: "Oswald", sans-serif;
        font-size: 24px;
        font-weight: 500;
        margin-left: 8px;
    }
  
    .formulario
    {
        width: 780px;
        margin-left: 8px;

        .form-floating .mensaje
        {
        height:150px;
        resize: none;
        }
    }

    .mapa
    {
        position: relative;
        top: 20px;
        left: 10px;
        border: 3px solid #000 ;
        width: 785px;
        height: 400px;
        margin-bottom: 200px;

        iframe
        {
            width: 778px;
            height: 393px;
        }
    }

    

    @media all and (max-width: 1024px)
    {
        #formularioTitulo
        {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .mapa
        {
            top: 40px;
            left: 10px;
            width: 505px;
            height: 320px;
            margin-top: 20px;

            iframe
            {
                width: 498px;
                height: 314px;
                border: 3px solid #000;
            }
        }

        .formulario
        {
            width: 500px;
            margin-left: 8px;
        }

        .form-floating .mensaje
        {
            height:150px;
            resize: none;
        }
    }

    @media all and (max-width: 500px)
    {
        .mapa
        {
            position: relative;
            top: 40px;
            left: 0px;
            width: 100vw;
            height: 320px;
            margin-top: 20px;
            border: 0px;

            iframe
            {
                width: 100vw;
                height: 312px;
            }
        }

        .formulario
        {
            width: 100vw;
            margin-left: 0px;
        }

        .form-floating .mensaje
        {
            height:150px;
            resize: none;
        }
    }

    @media all and (max-width: 360px)
    {
        #formularioTitulo
        {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 1px;
        }

        .mapa
        {
            top: 40px;
            left: 0px;
            width: 100vw;
            height: 320px;
            margin-top: 20px;
            border: 0px solid #000;

            iframe
            {
                width: 100vw;
                height: 314px;                
            }
        }

        .formulario
        {
            width: 100vw;
            margin-left: 0px;
        }

        .form-floating .mensaje
        {
            height:150px;
            resize: none;
        }
    }
}
