
#grid
{
    display: grid;
    background-color: white;
    width: 100%;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-areas:"imgInicio imgInicio imgInicio imgInicio"
                        "novedadesManga  novedadesManga  novedadesManga  novedadesManga"
                        "portadasManga portadasManga portadasManga portadasManga"
                        "novedadesComics novedadesComics  novedadesComics  novedadesComics"
                        "portadasComics portadasComics portadasComics portadasComics";

    .imgInicio
    {
            grid-area: imgInicio;
            display: inline-flex;
            justify-content: center;
                
            .carousel
            {
                .carrousel
                {
                    border: 2px solid black;
                    width: 1200px;
                    height: 675px;
                    margin-top: 30px;
                        
                    .carousel-item
                    {
                        .btnCompra
                        {
                            display: inline;
                            position: absolute;
                            top: 580px;
                            right: 541px;
                            width: 115px;
                            height: 50px;
                            font-size: 22px;
                            font-family: "Noto Sans",sans-serif;
                            font-weight: 600;
                            color: #fff;
                            background-color: black;
                            border: 2px solid #fff;
                            padding: 6px 6px 8px 6px;
                            border-radius: 6px;
                            &:hover{background-color: #e78d1e;
                                    color: rgb(255, 255, 255);
                                    border: 2px solid rgb(255, 255, 255);}
                        }
                        img
                        {
                            width: 1200px;
                            height: 675px;
                        } 
                    }       
                }
            }
            
    
        @media all and (max-width: 1024px)
        {
            .carousel
            {
                .carrousel
                {
                    border: 3px 0px 3px 0px solid black;
                    width: 1024px;
                    
                    .carousel-item
                    {
                        .btnCompra
                        {
                            top: 590px;
                            right: 455px;
                            width: 110px;
                            height: 45px;
                        }
                    
                        img
                        {
                            width: 1024px;
                        }  
                    }
                    
                
                }
            }
            
        }
        @media screen and (max-width: 500px)
        {
            .carousel
            {
                .carrousel
                {
                    border: 2px 0px 2px 0px solid black;
                    width: 500px;
                    height: 390px;

                    .carousel-item
                    {
                        .btnCompra
                        {
                            display: inline;
                            position: absolute;
                            top: 310px;
                            right: 204px;
                            width: 90px;
                            height: 40px;
                            font-size: 16px;
                        }
                    
                        img
                        {
                            width: 500px;
                            height: 390px;
                        }  
                    }
                
                }
            }
            
        }
    }

    #novedadesManga
    {
        grid-area: novedadesManga;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 32px;
        margin-left: 233px;
        margin-top: 70px;

    }

    .portadasManga
    {
        grid-area: portadasManga;
        display: inline-flex;
        justify-content: center;    
        margin-bottom: 30px;

        div
        {
            margin-right: 50px;
            margin-top: 35px;
            margin-left: 20px;

            img
            {
                @include imagenesIndex;
            }

            .precio
            {
                font-size: 20px;
                text-align: center;
            }

            p
            {
                font-family: "Noto Sans",sans-serif;
                font-size: 16px;
                text-align: center;
            }
        }
    }

    #novedadesComics
    {
        grid-area: novedadesComics;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 32px;
        margin-left: 233px;
        margin-top: 50px;
    }

    .portadasComics
    {
        @extend .portadasManga;
        grid-area: portadasComics;
        margin-bottom: 100px;

        div
        {
            margin-right: 50px;
            margin-top: 35px;
            margin-left: 20px;

            img
            {
                @include imagenesIndex;
            }

            .precio
            {
                font-size: 20px;
                text-align: center;
            }

            p
            {
                font-family: "Noto Sans",sans-serif;
                font-size: 16px;
                text-align: center;
            }
        }
    }

    @media all and (max-width: 1024px)
    {
            #novedadesManga
            {
                display: flex;
                justify-content: center;
                font-size: 32px;
                margin-left: 0px;
            }

            #novedadesComics
            {
                display: flex;
                justify-content: center;
                font-size: 32px;
                margin-left: 0px;
                margin-top: 50px;
            }

            .portadasManga
            {
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-left: 0px;

                img
                {
                    width: 190px;
                    height: 300px;
                    margin-left: 20px;
                    margin-top: 20px;
                }
            }

            .portadasComics
            {
                display: inline-flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-left: 0px;

                img
                {
                    width: 190px;
                    height: 300px;
                    margin-left: 20px;
                    margin-top: 20px;
                }
            }

    }

    @media screen and (max-width: 500px)
    {
        #novedadesManga
        {
            display: flex;
            justify-content: center;
            font-size: 24px;
            margin-left: 0px;
        }

        #novedadesComics
        {
            display: flex;
            justify-content: center;
            font-size: 24px;
            margin-left: 0px;
            margin-top: 50px;
        }

        .portadasManga 
        {
            div
            {
                margin: 10px;
                img
                {
                    width: 200px;
                    height: 310px;
                    border: 2px solid #000;
                    margin-bottom: 0px;
                    margin-top: 45px;
                    margin-left: 0px;
                }

                p
                {
                    font-size: 12px;
                }
                .precio
                {
                    font-size: 15px;
                }
            } 
        }
            

        .portadasComics 
        {
            div
            {
                margin: 10px;
                img
                {
                    width: 200px;
                    height: 310px;
                    border: 2px solid #000;
                    margin-bottom: 0px;
                    margin-top: 45px;
                    margin-left: 0px;
                }  

                p
                {
                    font-size: 12px;
                }
                .precio
                {
                    font-size: 15px;
                }
            }
            
        }
        
    }
}
