main
{    
    #gridMerch
    {
        display: grid;
        background-color: white;
        grid-template-columns: repeat(6,280px);
        grid-template-areas:"merch1 merch2 merch3 merch4 merch5 merch6"
                            "merch7 merch8 merch9 merch10 merch11 merch12";
        justify-content: end;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 120px;

        .merch1{grid-area: merch1; justify-self: center;}
        .merch2{grid-area: merch2; justify-self: center;}
        .merch3{grid-area: merch3; justify-self: center;}
        .merch4{grid-area: merch4; justify-self: center;}
        .merch5{grid-area: merch5; justify-self: center;}
        .merch6{grid-area: merch6; justify-self: center;}
        .merch7{grid-area: merch7; justify-self: center;}
        .merch8{grid-area: merch8; justify-self: center;}
        .merch9{grid-area: merch9; justify-self: center;}
        .merch10{grid-area: merch10; justify-self: center;}
        .merch11{grid-area: merch11; justify-self: center;}
        .merch12{grid-area: merch12; justify-self: center;}

        .merch
        {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 200px;
            margin-top: 85px;
            margin-bottom: 30px;

            .precio
            {
                font-size: 20px;
                text-align: center;
            }
            
            p
            {
                font-family: "Noto Sans",sans-serif;
                font-size: 16px;
                text-align: center;
            }

            img
            {
                width: 200px;
                height: 240px;
                border: 2px solid black;
            }
        }

    }

    @media all and (max-width: 1800px)
    {
                
        #gridMerch
        {
            grid-template-columns: repeat(6,270px);
            grid-template-areas:"merch1 merch2 merch3 merch4 merch5 merch6"
                                "merch7 merch8 merch9 merch10 merch11 merch12";
            margin-top: 20px;
            margin-right: 0px;
            

            .merch
            {
                margin-top: 90px;
                margin-left: 0px;

                img
                {
                    width: 170px;
                    height: 200px;
                }
            }

        }
    }

    @media all and (max-width: 1600px)
    {
                
        #gridMerch
        {
            grid-template-columns: repeat(6,240px);
            grid-template-areas:"merch1 merch2 merch3 merch4 merch5 merch6"
                                "merch7 merch8 merch9 merch10 merch11 merch12";
            margin-top: 30px;
            margin-right: 0px;
            

            .merch
            {
                margin-top: 90px;
                margin-left: 0px;

                img
                {
                    width: 170px;
                    height: 200px;
                }
            }

        }
    }

    @media all and (max-width: 1360px)
    {
        #gridMerch
        {
            grid-template-columns: repeat(4, 250px);
            grid-template-areas:"merch1 merch2 merch3 merch4"
                                 "merch5 merch6 merch7 merch8"
                                " merch9 merch10 merch11 merch12"
                                ;
            margin-top: 30px;
            margin-right: 100px;
        }
    }

    @media all and (max-width: 1200px)
    {
        #gridMerch
        {
            grid-template-columns: repeat(4, 250px);
            grid-template-areas:"merch1 merch2 merch3 merch4"
                                 "merch5 merch6 merch7 merch8"
                                " merch9 merch10 merch11 merch12"
                                ;
            margin-top: 30px;
            margin-right: 40px;
        }
    }

    @media all and (max-width: 1024px)
    {
        #gridMerch
        {
            grid-template-columns: repeat(3, 250px);
            grid-template-areas:"merch1 merch2 merch3"
                                "merch4 merch5 merch6"
                                "merch7 merch8 merch9"
                                "merch10 merch11 merch12";
            margin-top: 60px;
            margin-right: 100px;
            
        }

    }

    @media all and (max-width: 768px)
    {
        #gridMerch
        {
            grid-template-columns: repeat(2, 180px);
            grid-template-areas:"merch1 merch2"
                                "merch3 merch4"
                                "merch5 merch6"
                                "merch7 merch8"
                                "merch9 merch10"
                                "merch11 merch12";
            justify-content: center;
            margin-top: 70px;
            margin-left: 40px;
            margin-right: 10px;
            
            .merch
            {
                margin-top: 61px;
                margin-right: 50px;

                img
                {
                    width: 170px;
                    height: 200px;
                }
            }
        }
    }

    @media all and (max-width: 500px)
    {
        #gridMerch
        {
            grid-template-columns: repeat(2, 175px);
            grid-template-areas:"merch1 merch2"
                                "merch3 merch4"
                                "merch5 merch6"
                                "merch7 merch8"
                                "merch9 merch10"
                                "merch11 merch12";
            justify-content: end;
            margin-top: 0px;
            margin-left: 00px;
            margin-right: 0px;
            
            .merch
            {
                margin-top: 61px;

                img
                {
                    width: 170px;
                    height: 200px;
                }
            }
        }
    }

    @media all and (max-width: 360px)
    {
        #gridMerch
        {
            grid-template-columns: repeat(1, 180px);;
            grid-template-areas:"merch1"
                                "merch2"
                                "merch3"
                                "merch4"
                                "merch5"
                                "merch6"
                                "merch7"
                                "merch8"
                                "merch9"
                                "merch10"
                                "merch11"
                                "merch12";
            justify-content: end;
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 30px;
            
            .merch
            {
                margin-top: 90px;
                margin-left: 0px;

                img
                {
                    width: 170px;
                    height: 200px;
                    align-items: center;
                }
            }
        }
    }

        
}